body {
  position: absolute;

  clear: left;
}

#linePath {
  fill: none;
  stroke: #4286f4;
  stroke-width: 6px;
  stroke-linejoin: round;
  stroke-linecap: butt;
  stroke-dasharray: 8,10;
}

/*
path {
  fill: none;
  stroke: #ce2d2d;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: butt;
  stroke-dasharray: 10,10;
}*/

.scene {
  width: 1920px;
  height: 800px;
  position: relative;
  float: left;
  padding-top: 20px;
  padding-right: 10px;
}
#main {
    position: absolute;
    width: 1000px;
    height: 800px;
    left: 1%;
    /*box-shadow: 10px 10px 30px 1px #331f00;*/

}

p {
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.gridContainer {
  
    width: 752px;
    height: 752px;
    background-color: #ffe8c4;
    display: inline-table;
    z-index: 0;
    position: relative;
    float: right;
  }

  .graph {
    width: 752px;
    height: 752px;
    float: right;
    display: block;
    position: absolute;
    right: 5%;
  }

.options {
    width: 220px;
    height: 100px;
    position: absolute;
}

.optionButtons {
  width: 100%;
}
  
input[type=button] {
  height: 48px;
  width: 100%;
}

#droneImg {

    width: 50px;
    height: 50px;
    background-color:rgba(133, 247, 158, 0.35);
    border: 3px dashed rgb(6, 136, 114);
    border-radius: 50%;

}

#genMask {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(245, 43, 43, 0.4);
  display: none;
}