body {
  position: absolute;

  clear: left;
}

#linePath {
  fill: none;
  stroke: #4286f4;
  stroke-width: 6px;
  stroke-linejoin: round;
  stroke-linecap: butt;
  stroke-dasharray: 8,10;
}

/*
path {
  fill: none;
  stroke: #ce2d2d;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: butt;
  stroke-dasharray: 10,10;
}*/

h2 {
  font-family: courier;
}

.scene {
  width: 1920px;
  height: 800px;
  position: relative;
  float: left;
  padding-top: 20px;
  padding-right: 10px;
}
#main {
    position: absolute;
    width: 1000px;
    height: 800px;
    left: 1%;
    /*box-shadow: 10px 10px 30px 1px #331f00;*/

}

p {
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-family: courier;
}

.gridContainer {
  
    width: 752px;
    height: 752px;
    background-color: #ffe8c4;
    display: inline-table;
    z-index: 0;
    position: relative;
    float: right;
  }

  .graph {
    width: 752px;
    height: 752px;
    float: right;
    display: block;
    position: absolute;
    right: 5%;
    margin-top: 10%;
  }

.options {
    width: 220px;
    height: 100px;
    position: absolute;
}

.optionButtons {
  width: 100%;
}
  
input[type=button] {
  height: 48px;
  width: 100%;
}

#droneImg {

    width: 50px;
    height: 50px;
    background-color:rgba(133, 247, 158, 0.35);
    border: 3px dashed rgb(6, 136, 114);
    border-radius: 50%;

}

#genMask {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(245, 43, 43, 0.4);
  display: none;
}

#sliderHandle {
  width: 3px;
  height: 2px;
  text-align: center;
  line-height: 1px;
  top: 50%;
}

#simulateFlight {
  background-color: #4CAF50;
  border: none;
  color: white;
}

#toggleDraw {
  background-color: #6da3f9;
  border: none;
  color: white;
}

#toggleDraw:active {
  background-color: #154ea8;
  border: none;
  color: white;
}